html {
    text-align: center;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./blob-scene-haikei.svg') ;
    background-size: cover;
}

h1{
    font-size: 50px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.calc-container {
    box-shadow: 1px 4px 7px 4px rgba(0,0,0,0.45);
    -webkit-box-shadow: 1px 4px 7px 4px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 4px 7px 4px rgba(0,0,0,0.45);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 700px;
    width: 400px;
    background-color: black;
    gap: 10px;
}

.display {
    border-radius: 10px;
    flex: 2;
    background-color: white;
    box-shadow: 2px 1px 18px 13px rgba(0,0,0,0.2) inset;
}

.buttons {
    flex: 8;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.input-button {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    border: none;
    background: darkgray;
    border-radius: 70px;
    font-size: 40px;
}

.input-button#ac-button {
    padding-left: 15px;
    padding-right: 15px;
}

.input-button.control {
    background-color: orange;
}

.input-button:hover {
    transform: scale(1.1);
    transition: 100ms;
}

.input-button:not(:hover) {
    transform: scale(1.0);
    transition: 100ms;
}

.input-button:active {
    background-color: rgb(57, 57, 57);
}

.input-button:active::after {
    background-color: grey;
}

.input-button.control:active::after {
    background-color: orange;
}